/* minimal display readable */
img,
video {
	/* docs: media fits fuild screne */
	max-width: 100%;
	max-height: 100vh;
}

matrix-room {
	:is(matrix-space-parents) {
		/* docs: hide some info */
		:is(matrix-avatar, matrix-room-topic) {
			display: none;
		}
	}
	:not(matrix-space-parents) & {
		/* docs: so the room is vertical */
		display: flex;
		flex-direction: column;
	}
	:is(:not(matrix-space-parents) matrix-room-state) {
		display: flex;
		flex-direction: column;
	}
}
matrix-event {
	/* docs: doc be horizontal and fluid */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

matrix-event-actions form {
	display: inline;
}

matrix-room-name {
	font-weight: bold;
}

libli-mx-track {
	/* docs: so the tracks can have play btn first */
	display: flex;
	flex-wrap: wrap;
}
libli-mx-track-actions {
	order: -1;
}

radio4000-player {
	height: auto !important;
	min-height: auto !important;
	:is(.Layout-main, .Layout-header) {
		display: none;
	}
	:is(.Layout-footer) {
		display: none !important;
	}
}
