/* box sizing model */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* variables */
:root {
	--line-height: 1.4;
	--size-font: 19px;
	--c-bg: transparent;
	--c-sb: transparent;
	--c-fg: inherit;
	--c-link: inherit;
	--size: 1em;
	--size-player-sidebar: calc(var(--size) * 3vmin);
	--size-player-summary: 2.7rem;
	--size-player-media-max: calc(40vmin - var(--size-player-summary));
	--size-player-media-min: 98px;
	--size-container: calc(var(--size) * 42);
	--size-container-text: calc(var(--size) * 40);
	--size-container-padding: 5vw;
	--size-font-h1: 1.5rem;
	--size-font-h2: 1.3rem;
	--size-font-h3: 1.2rem;
	--size-media-max-height: 70vh;
}

/* user browser defaults */
@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--c-bg: gray;
		--c-sb: dimgray;
		--c-fg: black;
		--c-bg-form: slategray;
		--c-link: lightgray;
	}
}
@media (prefers-color-scheme: light) {
	:root {
		color-scheme: light;
		--c-bg: lightgray;
		--c-bg-form: whitesmoke;
		--c-sb: whitesmoke;
		--c-fg: black;
		--c-link: mediumblue;
	}
}

/* html elements */
html,
body {
	background-color: transparent;
}

/* globals and browser defaults */
body {
	margin: 0;
}

a,
a:active {
	color: var(--c-link);
}
a {
	text-decoration: none;
}
a:active,
a:hover {
	text-decoration: underline;
}

img,
video {
	display: block;
	max-width: 100%;
	max-height: var(--size-media-max-height);
}
button,
summary {
	cursor: pointer;
}
button,
input,
select,
textarea {
	font-size: 1rem;
	padding: calc(var(--size) / 3);
	margin: calc(var(--size) / 4);
	color: var(--c-fg);
	background-color: var(--c-bg-form);
	border: 1px solid var(--c-fg);
	border-radius: 0.3rem;
}
textarea {
	resize: vertical;
}
fieldset {
	border: 0;
}
pre {
	word-break: break-word;
	white-space: pre-wrap;
}
blockquote {
	padding-left: calc(var(--size) / 3);
	border-left: 1px solid var(--c-sb);
}
/* layout elements, until page wrapper */
html,
body,
libli-app {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-height: 100%;
}

libli-app {
	line-height: var(--line-height);
	font-size: var(--size-font);
	background-color: var(--c-bg);
	color: var(--c-fg);
	flex-direction: row;
	container-name: libli-app;
	:is(p, h1, h2, h3, h4, h5, h6) {
		margin-top: 0;
		margin-bottom: calc(var(--size) / 2);
	}
	:is(h1) {
		font-size: var(--size-font-h1);
	}
	:is(h2) {
		font-size: var(--size-font-h2);
	}
	:is(h3) {
		font-size: var(--size-font-h3);
	}
}

libli-layout {
	display: flex;
	flex-grow: 1;
	background-color: var(--c-bg);
	&::part(root) {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	&::part(page) {
		order: 0;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex-grow: 1;
		flex-basis: 100%;
	}
	&::part(nav) {
		order: 2;
		z-index: 2;
		max-height: 100vh;
		position: sticky;
		bottom: 0;
		display: flex;
		align-self: flex-end;
		align-items: center;
		flex-direction: row;
		padding: calc(var(--size) / 3);
		background-color: var(--c-sb);
		border-radius: 0.3rem;
	}
	&::part(player) {
		order: -1;
		z-index: 2;
		/* max-width: var(--size-player-sidebar); */
		/* width: 100%; */
		display: flex;
		justify-content: flex-end;
		align-self: flex-end;
		/* needed so it callapses, nad gives space for click bellow when sticky */
		position: sticky;
		top: 0;
	}
	@media (min-width: 50rem) {
		&::part(root) {
			flex-direction: row;
		}
		&::part(player) {
			order: 1;
			top: 0;
			bottom: 0;
			max-width: 50vmin;
			align-self: flex-start;
			margin-right: calc(var(--size) / 8);
			margin-left: calc(var(--size) / 8);
		}
		&::part(nav) {
			flex-direction: column;
		}
	}
}

libli-player {
	--c-bg: var(--c-sb);
	:is(radio4000-player) {
		:is(.Layout-main, .Layout-header) {
			display: none;
		}
		:is(.Layout-footer) {
			display: none !important;
		}
		/* info: "change of caps here" */
		:is(.ProviderPlayer) {
			height: auto;
			min-width: auto;
			min-height: max(
				var(--size-player-media-min),
				var(--size-player-media-max)
			);
		}
		:is(.Layout-aside) {
			min-height: auto !important;
			display: flex;
		}
		min-height: auto;
		max-height: none;
		height: auto;
	}
	:is(libli-player-layout) {
		:is(matrix-room) {
			:is(slot[name="state"]) {
				/* over the player summary */
				z-index: 3;
				position: sticky;
				top: 0;
				background-color: var(--c-bg);
			}
			overflow-y: auto;
		}
		background-color: var(--c-bg);
		padding: calc(var(--size) / 5);
		max-height: calc(100vh - var(--size-player-summary));
		display: flex;
		flex-direction: column;
	}
	:is(details) {
		&:is([open]) {
			:is(summary) {
				z-index: 3;
				position: sticky;
				top: 0;
				right: 0;
			}
			flex-grow: 1;
			max-height: 100vh;
		}
		&:is(:not([open])) {
			:is(summary) {
					justify-content: center;
			}
		}
		:is(summary) {
			background-color: var(--c-sb);
			/* padding: calc(var(--size) / 3); */
			list-style: none;
			display: flex;
			flex-direction: row-reverse;
			flex-wrap: wrap;
			align-items: center;
		}
		flex-grow: 1;
	}
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
	position: sticky;
	top: 0;
	max-height: 100vh;
	overflow: hidden;
}

libli-router {
	/*docs: follows layout styles */
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	&:focus {
		/* only here we remove the ouline */
		outline: none;
	}
}

libli-menu {
	:is(menu) {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
		border-radius: 0.3rem;
	}
	:is(a) {
		padding: calc(var(--size) / 3);
		margin: calc(var(--size) / 5);
		display: inline-flex;
		background-color: var(--c-sb);
	}
	:is(page-menu) & {
		position: sticky;
		top: 0;
		z-index: 1;
		background-color: var(--c-bg);
		display: flex;
	}
}

/* pages */
page-home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
}
page-widgets {
	padding: calc(var(--size) / 2);
}
page-profile {
	flex-grow: 1;
}
page-profile {
	&:is([profile-type="default"]),
	&:not([profile-type]) {
		:is(matrix-event) {
				/* background: red; */
		}
		:is(matrix-event-state b) {
				order: -1;
		}
	}
	&:not([profile-type="media"]) {
		:is(matrix-send-event-select) {
			display: none;
		}
	}
	&:is([profile-type="images"]) {
			& matrix-room-context slot[name="events"] {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
			}
	}
	&:is([profile-type="page"]) {
			& matrix-room:not([event-id]) {
					:is(matrix-event-state, matrix-room-context slot[name="events"] button[dir]) {
							display: none;
					}
			}
	}
	&:is([profile-type="journal"]) {
			& matrix-room:not([event-id]) {
					& matrix-event matrix-event-state {
							& > *:not(time) {
									display: none;
							}
					}
			}
			& matrix-room {
					& matrix-event {
							border: 1px solid var(--c-sb);
							& matrix-event-state {
									background-color: var(--c-sb);
							}
							& :is(matrix-event-content, matrix-event-state) {
									padding: calc(var(--size) / 3);
							}
					}
			}
	}
	:is(matrix-room) {
		:is(slot[name="state"]) {
			position: sticky;
			top: 0;
			z-index: 1;
			background-color: var(--c-bg);
			border-radius: 0.3rem;
		}
		flex-grow: 1;
	}
	:is(matrix-room-state, matrix-room-actions) {
		background-color: var(--c-sb);
	}
	:is(matrix-room-actions) {
		position: sticky;
		top: 0;
		align-self: flex-start;
	}
	:is(page-profile-user) {
		padding: var(--size);
	}
	display: flex;
	flex-direction: column;
	padding-left: calc(var(--size) / 2);
}
page-auth {
	:is(matrix-auth) {
		/* hack to get matrix-user-well-known to display JSON nice */
		&::part(user),
		&::part(guest) {
			white-space: pre-wrap;
			word-break: break-all;
		}
		padding: calc(var(--size) / 2);
	}
	display: flex;
}

/* the libli widgets */
libli-widget-styles {
	:is(textarea) {
		width: 100%;
		min-height: 10vmin;
	}
}

/* mwc */
matrix-room {
	:is(matrix-room-avatar) {
		order: -3;
	}
	:is(matrix-room-avatar) {
		order: -2;
	}
	:is(matrix-room-alias) {
		padding: 0 calc(var(--size) / 2);
	}
	&[hidden] {
		display: none;
	}
	& slot[name="state"] {
		order: 1;
		display: flex;
		/* border-bottom: 1px solid var(--c-sb); */
	}
	/* if no event-id is pspecified, we don't need the context button,
	 as the room is synchornised to get the lattest events.
	 Only show if we browse from the URL into the room's history context*/
	&:not([event-id]) {
		:is(matrix-room-context) {
			:is(button[dir="after"]) {
				display: none;
			}
		}
	}
	/* @TODO: mwc, why do the "context" also have slot?! why *slots at all? */
	& > slot[name="events"] {
		order: 2;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	& slot[name="send"] {
		order: 3;
		display: flex;
		position: sticky;
		bottom: 0;
	}
	display: flex;
	flex-direction: column;
}
matrix-room-state {
	padding: calc(var(--size) / 2);
	display: flex;
	flex-grow: 1;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	:is(matrix-image) {
		max-width: calc(var(--size) * 2);
		:is(figure) {
			margin: 0;
		}
	}
}
matrix-room-name {
	font-size: var(--size-font-h1);
	font-weight: bold;
	line-height: 1;
}
matrix-room-alias {
	word-break: break-word;
	word-wrap: break-word;
}
matrix-room-topic {
	white-space: pre-wrap;
	word-break: break-word;
	flex-basis: 100%;
}
matrix-avatar {
	:is(figure) {
		margin: 0;
	}
	max-width: calc(var(--size) * 1.5);
}
matrix-event {
	display: flex;
	flex-direction: column;
	margin: calc(var(--size) / 4);
}
matrix-event-text {
	word-break: break-word;
}
matrix-event-actions,
matrix-room-actions {
	:is(select) {
		max-width: calc(var(--size) * 2);
	}
}
matrix-event-state {
	:is(matrix-event-actions, time, b) {
		margin-right: calc(var(--size) / 3);
	}
	:is(b) {
		flex-grow: 1;
	}
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
matrix-room-context {
	:is(button[dir="before"], button[dir="after"]) {
		margin: calc(var(--size) / 3);
		align-self: center;
	}
	display: flex;
	flex-direction: column;
}
matrix-send-events {
	:is(matrix-send-event-select) {
		:is(legend) {
			display: none;
		}
		:is(fieldset) {
			padding: 0;
			display: flex;
			flex-grow: 1;
		}
		:is(select) {
			background-color: var(--c-bg);
			border: none;
			outline: none;
			max-width: 40vw;
		}
		order: 1;
		position: absolute;
		top: 0;
		right: 0;
		transform: translateY(-100%);
		background-color: var(--c-bg);
	}
	padding: calc(var(--size) / 6);
	/* to give same to the libli nav */
	/* margin-right: calc(var(--size) * 1.5); */
	display: flex;
	flex-grow: 1;
	align-items: center;
	flex-wrap: wrap;
	justify-content: right;
	background-color: var(--c-bg);
	border-top: 1px solid var(--c-sb);
	border-left: 1px solid var(--c-sb);
	border-right: 1px solid var(--c-sb);
}
matrix-send-event {
	&:not([hidden]) {
		:is(form) {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		:is(fieldset) {
			padding: 0;
			display: flex;
			align-items: center;
		}
		:is(textarea),
		:is(input) {
			flex-grow: 1;
		}
		:is(input[type="file"]) {
			display: block;
			border-style: dashed;
			max-width: calc(var(--size) * 1);
			transition: max-width 200ms ease-in-out;
			&:not(:focus, :active, :hover) {
					&::before {
							content: "⛁";
							margin-right: calc(var(--size) / 2);
					}
					&::file-selector-button {
							display: none;
					}
			}
			&:is(:focus, :active, :hover) {
				max-width: none;
			}
		}
		flex-grow: 1;
	}
	&:is(
			[event-type="m.room.message"],
			[event-type="org.libli.room.message.track"]
		) {
		:is(textarea),
		:is(input) {
			flex-grow: 1;
		}
	}
	&[event-type="m.room.message"] {
		:is(fieldset):first-of-type {
			flex-grow: 1;
		}
	}
	&[event-type="org.libli.room.message.track"] {
		:is(form) {
			flex-direction: column;
		}
	}
}

matrix-space-children,
matrix-space-parents {
	flex-basis: 100%;
	margin-bottom: calc(var(--size) / 3);
	:is(matrix-room) {
		:is(slot[name="state"]) {
			position: static;
			z-index: 0;
			background-color: transparent;
			border: none;
		}
	}
	:is(matrix-room-state) {
		padding: calc(var(--size) / 3);
		/* background-color: var(--c-bg); */
	}
}
matrix-space-parents {
	:is(matrix-room-state) {
		padding-left: 0;
		font-style: italic;
	}
	:is(matrix-room-topic, matrix-avatar, matrix-room-name) {
		display: none;
	}
	:is(matrix-room-alias) {
		padding: 0;
	}
}
matrix-space-children {
		:is(matrix-room matrix-room-state) {
				border-left: 1px solid var(--c-sb);
				margin: calc(var(--size) / 3);
				padding-left: calc(var(--size) / 2);
		}
}

matrix-space-children,
matrix-joined-rooms {
	:is(menu) {
		padding: 0;
		margin: 0;
		list-style: none;
	}
}

/* custom libli event displays */
matrix-event {
	&[event-type="org.libli.room.message.track"] {
		:is(matrix-event-state) {
			:is(time, b) {
				display: none;
				word-wrap: break-word;
				word-break: break-word;
			}
			margin-bottom: 0;
			order: 1;
			justify-content: flex-end;
		}
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	&[event-type="m.room.message"] {
		&:is([message-type="m.image"]) {
				& matrix-event-image {
						display: flex;
						justify-content: center;
				}
		}
	}
	margin-bottom: var(--size);
}

libli-mx-track {
	display: flex;
	flex-wrap: wrap;
	:is(libli-mx-track-actions) {
		order: -1;
		margin-right: calc(var(--size) / 3);
	}
	:is(libli-mx-track-url) {
		word-wrap: break-word;
		word-break: break-word;
	}
}

/* other UI components */
matrix-search {
	:is(legend) {
		display: none;
	}
}

matrix-profile {
	:is(matrix-avatar) {
		margin: var(--size);
	}
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

/* web-components-utils (@sctlib/wcu) */
wcu-dialog::part(dialog) {
	padding: calc(var(--size) / 2);
}
wcu-dialog::part(form) {
	padding: calc(var(--size) / 2);
}
